# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Java
.classpath
.project
.settings/

# macOS
.DS_Store

# Windows
Thumbs.db

# IDEs
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Folder
.next/cache/webpack/client-production/0.pack